<div class="header" role="banner">
    <div class="site-header">
        {% if pages["_meta"].meta.logo %}
        <div class="logo">
            <a href="{{ base_url }}">
                <img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}" alt="" />
            </a>
        </div>
        {% endif %}
        <div class="title text-white" {{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
            <a href="{{ base_url }}">
                <h1>{{ site_title }}</h1>
                {{ pages["_meta"].meta.tagline|markdown }}
            </a>
        </div>
        <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false"
            tabindex="1">
            <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
            <span class="sr-only">Toggle Menu</span>
        </a>
    </div>
    <div class="nav text-white">
        <div id="nav" role="navigation" tabindex="-1">
            <ul>
                {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                    <li{% if page.id==current_page.id %} class="active" {% endif %}>
                        {% if page.title=="Home" %}
                        {%set icon = "fa-home" %}
                        {% elseif page.title=="About" %}
                        {%set icon = "fa-info-circle" %}
                        {% elseif page.title=="Analysis" %}
                        {%set icon = "fa-search" %}
                        {% elseif page.title=="Docs" %}
                        {%set icon = "fa-file" %}
                        {% elseif page.title=="Technologies" %}
                        {%set icon = "fa-code" %}

                        {% endif %}
                        <i class="fa {{ icon }}"></i>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
